.login {
  background-image: url('/images/background_login.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Thiết lập chiều cao 100% của viewport */
  margin: 0;
  padding: 0;
}